body {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app {
  width: 80%;
  margin: 0 auto;
}

.field {
  float: left;
  height: 40px;
  width: 40px;
  border: 1px solid #000;
}

.clear {
  clear: both;
  float: left;
}

.grass {
  background: #ffffff;
}

.mushroom {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.mario {
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}

.icon-credit {
  position: absolute;
  bottom: 0;
}
